body{
    /* background-color: rgb(156, 206, 244); */
    background-image: linear-gradient(to right, rgb(91, 149, 193), rgb(198, 91, 186));
    
}

header{
    background-image: linear-gradient(to left, rgb(91, 149, 193), rgb(198, 91, 186));
}

h1, h3{
    color: rgb(153, 188, 231);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-top: 30px;
}

.firstelement{
    margin-top: 100px;
}

a{
    background-color: rgb(102, 144, 223);
}

a:hover{
    background-color: rgb(198, 91, 186);
}

.links{
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid rgb(73, 107, 169);
    border-radius: 5px;
    padding: 4px;
    display: inline-block;
}

p{
    font-family:sans-serif;
    padding-right: 300px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: rgb(153, 188, 231);
}

blockquote{
    display:grid;
    padding-bottom: 30px;
    font-family: sans-serif;
    color: rgb(153, 188, 231);
}

img{
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;
}

ul{
    padding: 20px;
    margin-left: 20px;
}

li{
    padding-bottom: 20px;
    color: rgb(153, 188, 231);
    font-family: sans-serif;
}

form{
    border: 2px solid rgb(90, 90, 172);
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

label{
    color: rgb(153, 188, 231);
}

input, textarea{
    width: 100%;
    margin: 5px;
    resize: none;
}



